.gfield_select, .gfield input, .gfield textarea, .ginput_product_price_wrapper, .gform_button {
    @apply bg-primary-dark pl-4 p-3 pt-6 rounded-md min-h-[60px] w-full text-white font-medium text-sm leading-6 max-w-full;
}

.gfield_label {
    @apply absolute left-0 top-0 translate-x-4 translate-y-[6px] font-medium text-xs leading-6 text-primary-light
}

.gfield_select {
    @apply pl-3
}

.gfield {
    @apply relative
}

.gsection.accordion .gsection_title {
    @apply text-primary-light
}

.gsection_title {
    @apply cursor-pointer text-lg leading-6 font-medium relative flex items-center
}

.gsection.accordion {
    @apply rounded-t-md bg-primary-darker p-4 min-h-[60px]
}

.gsection.accordion:not(.current) {
    @apply rounded-b-md
}

.gsection.accordion + .gform_fields {
    @apply mb-0 col-span-12 bg-primary-darker rounded-b-md px-4 pb-4 -mt-[1em]
}

.gsection.accordion:not(.current) + .gform_fields,
.ginput_product_price_label{
    @apply hidden
}

.gfield_required_asterisk {
    @apply text-danger pl-[0.125em]
}

.gform_validation_errors {
    @apply mb-4
}

.gfield_validation_message{
    @apply text-danger text-sm leading-6 font-medium
}

.gform_fields {
    @apply grid grid-cols-12 gap-x-2 gap-y-4
}

.gfield, .gform_fields {
    @apply col-span-12
}

.gfield.gfield--width-half {
    @apply md:col-span-6
}

.datepicker, .ginput_product_price_wrapper, .ginput_total {
    @apply pl-4
}

input::placeholder, textarea::placeholder {
    @apply text-white
}

.gfield_visibility_hidden {
    @apply absolute hidden left-[-9999px]
}

.gform_button {
    @apply text-lg py-3 min-h-min bg-white font-semibold text-primary;
}

.gform_footer {
    @apply pt-4
}

.gform_required_legend {
    @apply hidden
}

.accordion .gsection_title::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22' fill='none'%3E%3Cpath d='M14.2903 5.92861C14.1128 8.32256 12.298 10.2755 10.3057 10.2755C8.31337 10.2755 6.49537 8.32302 6.32104 5.92861C6.13992 3.43821 7.90585 1.58173 10.3057 1.58173C12.7055 1.58173 14.4714 3.48349 14.2903 5.92861Z' stroke='%23AAC9E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.3057 13.1734C6.36632 13.1734 2.36809 15.3468 1.62822 19.4492C1.53766 19.9437 1.81885 20.4182 2.33685 20.4182H18.275C18.793 20.4182 19.0728 19.9437 18.9836 19.4492C18.2433 15.3468 14.245 13.1734 10.3057 13.1734Z' stroke='%23AAC9E9' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
    @apply h-[22px] w-[20px] bg-cover bg-center bg-no-repeat order-2 ml-auto;
}

.accordion .gsection_title::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M6 8L0.803847 0.5L11.1962 0.500001L6 8Z' fill='%23AAC9E9'/%3E%3C/svg%3E");
    @apply h-[10px] w-[16px] bg-cover bg-center bg-no-repeat order-3 ml-[30px];
}

.gfield_error input, .gfield_error textarea, .gfield_error .gfield_select {
    @apply border-2 border-danger rounded-md;
}
